.search-bar {
    display: flex;
    justify-content: center;
    margin: 0px 0; 
    align-items: first baseline;
    padding: 150px;
    height: fit-content;
    background-attachment: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url( 'https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg');
    image-resolution: 300dpi;
    image-orientation: from-image;
    border-radius: 0px;
 

}

.search-bar input[type="text"] {
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 60px 0px 0px 60px;
    outline: none;
    background-color: #ffffff;
 
}

.search-bar button {
    width: 100px;
    padding: 10px 20px;
    border: 1px solid rgb(255, 0, 0);
    border-left: none;
       
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
    border-radius:  0px 60px 60px 0px;
}

.search-bar button:hover {
    background-color: #333333;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Existing keyframe animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* New keyframe animation for zoom-out */
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

/* New keyframe animation for moving background */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Existing styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.cart-page {
    background-color: #f9f9f9;
    padding: 2px;
}

.checkout-page {
    background-color: #f9f9f9;
    padding: 5px;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    font-family: "brush script mt", cursive;
    font-size: 5em;
    background-attachment: fixed;
}

nav {
    font-family:  'Times New Roman', Times, serif;
    background-color: #ffffff;
    margin: 10px 0;
    padding: 0px;
    text-align: center;
    -webkit-text-fill-color: #000000ee;
}


nav a {
    color: #000000;
    text-decoration: none;
    margin: 15px 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

#checkout {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart h2 {
    text-align: center;
    margin-bottom: 20px;
}
.cart-item-image img {
    max-width: 100%;
    height: auto;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 1.2em;
}

.cart-item-details p {
    margin: 5px 0;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cart-item-quantity button {
    margin: 0 5px;
}


#checkout h2 {
    text-align: center;
    margin-bottom: 20px;
}
.cart-item {
    display: block;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    max-width: 100px;
    margin-right: 20px;
}

.cart-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.cart-item p {
    margin: 5px 0;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.checkout-btn {
    width: 50%;
    padding: 10px;
    margin: 5px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    display: block;
}

.checkout-btn:hover {
    background-color: #333333;
}
.clear-cart-btn {
    width:50%;
    padding: 10px;
    margin: 5px ;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    display: block;
}
.continue-shopping-btn {
    width: 100%;
    padding: 10px;
    margin: 5px ;
    background-color: #cacaca;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    position: end;
}
.continue-shopping-btn:hover {
    background-color: #333333;
}
.continue-shopping-btn a {
    color: #ffffff;
    text-decoration: none;
    background-position-x: right;
}
.back-btn {
    width: 100%;
    padding: 10px;
    background-color: #cccccc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
}

.back-btn:hover {
    background-color: #aaaaaa;
}
#order-success-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #333333;
}

.footer {
     color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    color: #ffffff;
    font-family: 'cure', cursive;
    text-align: center;
}
 
.home-page {
    background-image: url('initial-letter-db-logo-design-graphic-alphabet-symbol-for-corporate-business-identity-vector.jpg');
    background-color: #d3fff6;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveBackground 20s linear infinite;
}

.home-page h3 {
    animation: bounce 2s infinite, fadeIn 5s ease-in-out, zoomOut 5s infinite;
    text-align: right; /* Align text to the right */
    margin-right: 20px; /* Add some margin to the right */
}
.home-page h4 {
    animation: bounce 2s infinite, fadeIn 5s ease-in-out, zoomOut 5s infinite;
}
.home-page h5 {
    animation: bounce 2s infinite, fadeIn 5s ease-in-out, zoomOut 5s infinite;
}
.products-page {
    /*background-image: url('blur-blurred-background-boutique-clothes.jpg');*/
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveBackground 30s linear infinite;
}
 
.cart-page {
    background-image: url('https://wallpaperboat.com/wp-content/uploads/2020/11/10/60057/shopping-07.jpg');
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveBackground 30s linear infinite;

}
.wishlist-page {
    background-color:blanchedalmond 
}
.wishlist-page h2 {
    color: #000000;
    text-align: start;
    font-size: 2em;
     }

.checkout-page {
    background-image: url('https://img.freepik.com/premium-photo/toy-shopping-cart-with-boxes-credit-card-with-copy-space_339191-197.jpg?semt=ais_hybrid');
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
.cart-items {
    display:  block;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

 
header {
    background-color: #ffffff;
    color-scheme: dark;
    color: #000000;
    padding: 8px 0;
    text-align: center;
    text-decoration-color: #ff9696;
    text-decoration: underline,line-through;
    background-attachment: fixed;

}

h1 {
    margin: 0;
    font-family: "brush script mt", cursive;
    font-size: 4em;
    text-decoration-color: #ffffff;
    text-decoration: underline,line-through;
    background-attachment: fixed;
}
 
nav {
    font-family:  'Times New Roman', Times, serif;
    background-color: #ffffff;
    margin: 0px;
    padding: 5px;
    text-align: center;
    -webkit-text-fill-color: #000000ee;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px 10px;
}

nav ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    display: flexbox;
}

nav ul li {
    margin-right: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

 
.welcome-image {
    color: #000000ee;
    padding: 10px 10;
    text-align: center;
    text-decoration: underline;
}

.welcome-image h2 {
    margin: 0;
    font-family: "brush script mt", cursive;
    font-size: 4em;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
    border-radius: 1px;
}
.welcome-image h2 .highlight {
    color:rgb(255, 199, 88); 
}
.welcome-text{
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flexbox;
}
.welcome-text h3 {
    font-family: 'cure', cursive;
    font-size: 3em;
    margin: 10px 0;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #000000;
    animation: bounce 2s infinite, fadeIn 1s ease-in-out;
    text-align: right; /* Align text to the right */
    margin-right: 20px; /* Add some margin to the right */
}
.welcome-text h3 a {
    color: #ffffff;
    text-decoration: none;
    background-color:rgb(255, 255, 255,0);
    margin: 10px 10px;
    animation: bounce 2s infinite;
}.welcome-text h4 {
    font-family: 'cure', cursive;
    font-size: 2em;
    margin: 10px 0;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #000000;
    animation: bounce 2s infinite, fadeIn 1s ease-in-out;
    text-align: right; /* Align text to the right */
    margin-right: 1px;
}
.welcome-text h4 a {
    color: #ffffff;
    text-decoration: none;
    background-color:rgb(255, 255, 255,0);
    margin: 10px 10px;
    animation: bounce 2s infinite;
}
.welcome-text h5 {
    font-family: 'cure', cursive;
    font-size: 1.5em;
    margin: 10px 0;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #000000;
    animation: bounce 2s infinite, fadeIn 1s ease-in-out;
    text-align: right; /* Align text to the right */
    margin-right: 10px;
}
.welcome-text h5 a {
    color: #ffffff;
    text-decoration: none;
    background-color:rgb(255, 255, 255,0);
    margin: 10px 10px;
    animation: bounce 2s infinite;
}
.welcome-text p {
    color: #ff0000;
    font-family: 'cure', cursive;
    padding: auto;
    animation: bounce 2s infinite;
}
.welcome-msg {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.welcome-msg p {
    color: #000000;
    font-family: 'alex brush', cursive;
    padding: auto;
    font-size: large;
    line-gap-override: 1.5;
}
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.items h2 {
    margin: 0;  
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: #030303ee;
}
.mens {
    display: flex;
    flex-wrap: wrap;
}
.mens h3{
    color: #ff5656;
    font-family:  'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    padding:0px;
    width: 100%;
    text-transform: uppercase;
    text-decoration-line: overline;
 
}
.product {
    margin: 15px;
    padding: 20px 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;

}

.product-box {
    border: #ff226b 1px solid;
    padding: 20px 70px 60px 70px;
    margin: 30px;
    margin-right: auto;
    container: 5000px;
    container-type: 5000px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    
    display: flexbox;
   
}
.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #0000ff; 
}


.product img {
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product h3 {
    color: #000000;
    font-size: 1em;
    margin: 10px 0;
    font-family:'Times New Roman', Times, serif;
    display: block; /* Change from inline to block */
}

.product p {
    margin: 5px 0;
    color: #000000;
    
    font-family:  Georgia, 'Times New Roman', Times, serif;
    display: block; /* Change from inline to block */
}
.original-price {
    text-decoration: line-through;
    color: #000000;
}
.discounted-price {
    color: #000000;
    font-weight:italic;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 10px 0;
    display: block;
   
}

.product button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-attachment: fixed;
}

.product .buy-btn {
    background-color: #ff0000;
    color: #ffffff;
}

.product .buy-btn:hover {
    background-color: #cc0000;
}
.product .add-to-wishlist-btn {
    background-color: #ff0000;
    color: #ffffff;
}

 
.about {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.about h2 {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 10px 0;
    color: #000000; 
}

.about p {
    color: #000000;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

.us {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.us h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    margin: 10px 0;
    color: #000000;
}


.social {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    padding: 10px 0;
    margin: 10px 0;
    position: sticky;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social a {
    color: #000000;
    text-decoration: none;
    margin: 10px 100px;
    align-items: center;
}
.social nav {
    color: #000000;
    text-decoration: none;
    margin: 10px 50px;
    align-items: center;
}
.social h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    margin: 10px 0;
    color: #ff0000;
    align-self: center;
    justify-content: center;
}

.social img {
   align-items: center;
}
.contact {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    padding: 10px 0;
    margin: 10px 10px;
    position: sticky;
    bottom: 100px;
    width: 1000%;
    display: flex;
    justify-content: center;    
}
.contact nav {
    color: #000000;
    text-decoration: none;
    margin: 10px 50px;
    align-items: center;
}
.h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 10px 10px;
    color: #000000;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.cart-items {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-items h2 {
    font-family: 'cure', cursive;
    color: #000000;
    align-content: center;
    text-align: center;
}
.wishlist-items {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}
.footer {
   
    color: #000000;
    text-align: center;
    padding: 1px 0;
    position: relative;
    bottom: -1px;
    width: 100%;
}

.footer p {
    color: #000000;
    font-family: 'cure', cursive;
    text-align: center;
   }


.section-divider {
    border: 0;
    height: 1px;
    background:  #000000;
    margin: 40px 0;
}
.hr {
    border: 0;
    height: 1px;
    background: #ffffff;
    margin: 40px 0;
}
.continue-shopping-btn {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #cacaca;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    
   
}
.continue-shopping-btn:hover {
    background-color: #333333;
}
.continue-shopping-btn a {
    color: #ffffff;
    text-decoration: none;
    background-position-x: right;
}
.back-btn {
    width: 100%;
    padding: 10px;
    background-color: #cccccc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
}
.back-btn:hover {
    background-color: #aaaaaa;
} 
.wishlist{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
#wishlist h2 {
    font-family: 'cure', cursive;
    color: #000000;
    align-content: center;
    text-align: center;
}
.wishlist-item {
    display: flex;
    container: flex;
    align-items: center;
    margin-bottom: 20px;
}

.wishlist-item img {
    display: block;
    max-width: 100%;
    height: auto;
}   
.wishlist-item h3 {
    margin: 0;
    font-size: 1.2em;
}   
.wishlist-item p {
    margin: 5px 0;
}
.wishlist-item-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.wishlist-item-quantity button {
    margin: 0 5px;
}
.wishlist-btn {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #ff226b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}
.wishlist-btn:hover {
    background-color: #ff608d;
}
.clear-wishlist-btn {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
 
}
.clear-wishlist-btn:hover {
    background-color: #333333;
}